POSTGRES_DB=pl_reg
POSTGRES_USER=pl_user
POSTGRES_PASSWORD=pl_pass
DB_PORT=5432

DATABASE_URL=postgresql+asyncpg://pl_user:pl_pass@localhost:5432/pl_reg

ENV=dev

JWT_SECRET=change-me-in-production
JWT_ISSUER=sit-unizd
